input,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

textarea {
  height: 20vh;
}

h3 {
  margin: 3rem 0;
}

.post-form {
  height: calc(100vh - 6rem);
}

.post-form--steps {
  height: 100%;
}

.next {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.previous {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}

.controls {
  height: 8rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  padding-top: 2rem;
}
