.login {
  margin: 3rem 0;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-heading {
  margin-bottom: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.login-form * {
  margin-bottom: 1rem;
}

.login-form input {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  width: 60%;
  border-radius: 10px;
}

.login-form button {
  width: 60%;
  margin-top: 2rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
}

.login-form button:hover {
  background-color: white;
  color: black;
  font-weight: 700;
}

.login-incorrect {
  margin-bottom: 3rem;
  color: rgb(181, 19, 19);
  display: none;
}
