.footer {
  background-color: rgb(255, 192, 58);
}

.socials {
  padding: 4rem 0;
}

.socials img {
  width: 3rem;
  margin: 0 2rem;
}

.footer-container {
  background-color: rgb(25, 25, 25);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.9rem;
}

.attributions ul {
  list-style-type: none;
}

.attributions a {
  color: white;
  font-size: 0.8rem;
}
